<!DOCTYPE html>
<html xmlsn:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet"/>
<title>ECサイト</title>


<script>
  
  // 追加されたカート情報を、メモリ上に保持しておくための変数を定義し空の配列として初期化
  let cartList = [];
  
// HTMLが読み込まれたら自動的に実行される
  document.addEventListener('DOMContentLoaded', event=> {
    
//"id=loginForm" を持つ要素にて"submit" イベントが発火した際login呼び出す
 document.getElementById("loginForm").addEventListener("submit",login);
 
 //カートに入れる」ボタンは複数存在するため、querySelectorAllメソッドで取得し、forEachでループさせてイベントリスナを登録している

 //"class=carBtn"を持つ要素（複数存在するためclass指定)を取得する
   const cartBtns = document.querySelectorAll(".cartBtn");
  //cartBtnsをループさせ、個々のボタンにて"click"イベントが発火した際addCart関数を呼び出す
  cartBtns.forEach((btn) => {
    btn.addEventListener("click" , addCart);
  });
  
  //"id=purchaseBtn"を持つ要素にて"click"イベントが発火した際　purchase関係を呼び出す
 document.getElementById("purchaseBtn").addEventListener("click" , purchase);
 
 //履歴ボタンがクリックされた時のイベントリスナーと、購入履歴を表示する関数(showHistory)を追加
 // "id=historyBtn"を持つ要素にて"click"イベントが発火した際 showHistory関数を呼び出す
 document.getElementById("historyBtn").addEventListener("click" , showHistory);
    
  });
  

  
  function initCart() {
    //カートを初期化する
    const tbody =document.querySelector("#cart tbody");
    while(tbody.lastChild){
      tbody.removeChild(tbody.lastChild);
    }
  }
  
  // loginの枠組み。　関数（function）はJavaのメソッドのように、呼び出したタイミングで実行される処理。login関数(function login)の処理を作成します。管理者サイトで既出の fetch を使用し、サーバサイド(Java)と通信してログイン認証の結果を受け取っている。
  function login(event){
    // HTMLフォームのデフォルト動作（ページ遷移）が発生しないようprevent（阻止）する
    event.preventDefault();
    
    //カートテーブルをクリアし、メモリ上のカート配列も初期化する
    initCart();
    cartList =[];
    
    // JavaにPOST送信するオブジェクトを取得・設定する
    const postObj = {
      "userName": document.querySelector("input[name=userName]").value,
      "password": document.querySelector("input[name=password]").value
    };
    
    //Java側のControllerで、このURLにRequestMappingされているメソッドと通信する
    fetch("/ecsite/api/login", { 
      method: "POST" ,
      headers: {"Content-Type":"application/json"},
      body: JSON.stringify(postObj), //送信するJavascriptデータをJSON形式に変換
    })
    .then(response => response.text())
    .then(result => {
      //Javaから返却されたJSON形式の文字列をJavaScriptのオブジェクトに変換(JSON.parse)し、変数 user に 代入している
      const user = JSON.parse(result);     
                                                  //（バッククォーテーション）で囲む
      document.getElementById("welcome").innerText = `ようこそ！${user.fullName}さん`;
      document.getElementById("hiddenUserId").value = user.id;
      //。JavascriptのquerySelectorメソッドのセレクタ指定は「.」がclassを表し「#」がidを指すなど、CSSと同じ
      document.querySelector("input[name=userName]").value = "";
      //querySelectorを使い、指定したname属性が書いてある input タグ要素を 取得。  入力内容が .valueで 取得できるので、 それに = “” を使って 空文字を代入することで、入力されていた内容を初期化することができる
      document.querySelector("input[name=password]").value = "";
     })
     .catch(error => {
       console.error("Error: " , error);
     });
  }
  
  function addCart(event) {
    console.log("A");
    
    //カート追加ボタンの親要素のさらに親要素から、"td"要素を全て排出し、tdListに格納する
    const tdList =event.target.parentElement.parentElement.querySelectorAll("td");
     console.log(tdList);
    // tdListから、商品情報を取得し、JSオブジェクト(key: value)形式でgoodsInfoに代入する
    const goodsInfo = {
      "id": tdList.item(0).innerText,
      "goodsName": tdList.item(1).innerText,
      "price": tdList.item(2).innerText,
      "count": tdList.item(3).querySelector("input").value
    };
    
    if(goodsInfo.count === "0" || goodsInfo.count===""){
      alert("注文数が0または空欄です。");
      return;  //注文数が0ならば、ここで関数の処理終了
    }
    
    //グローバル変数cartListに対して、カート追加対象の商品情報をpushする
    cartList.push(goodsInfo);
    
    //カート表はゼロから再構築するため、tbody内の要素をクリアする
    initCart();
    
    //グローバル変数cartListをループさせ、カート表を再構築する
    cartList.forEach(cart => {
      //行(tr)作成
      const tr = document.createElement("tr");
      // cartオブジェクトを[key,value] でループさせ、個々のtd要素を作成し、trに追加する（本処理ではkeyは未使用）
      for ([key,value] of Object.entries(cart)){
        const td = document.createElement("td");
        td.innerText = value;
        tr.appendChild(td);
      }
      //カート削除ボタンを作成する
      const removeBtn =document.createElement("button");
      removeBtn.innerText = "カート削除";
      //カート削除ボタンにclass属性を設定する
      removeBtn.setAttribute("class","removeBtn");
      //カート削除ボタンに対し、click時のイベントリスナを追加する
      removeBtn.addEventListener("click",removeCart); //removeCart関数 を 呼び出している
      
      //td要素を作成し、カート削除ボタンを子要素として追加する
      const td = document.createElement("td");
      td.appendChild(removeBtn);
      
      // tr要素を作成し、カート削除ボタン配置済のtdを子要素として追加する
      tr.appendChild(td);
      
      const tbody = document.querySelector("#cart tbody");
      tbody.appendChild(tr);
     
    });
  }
  
  
  
  
  
  
  //カートに入れる機能(addCart関数)の中から呼び出している、カートからの削除機能(removeCart関数)を作成
  function removeCart(event) {
    
    //削除ボタンの親要素の親要素を取得し、trに格納する
    const tr = event.target.parentElement.parentElement;
    //tr内のすべてのtdを取得し、tdListに格納する
    const tdList = tr.querySelectorAll("td");
    
    //削除対象のカート情報のidを取得する
    const id = tdList.item(0).innerText;
    //削除対象のidをcartListから除外する
    cartList = cartList.filter(cart => {
      return cart.id !== id;
    });
    
    //カート表の削除対象行から子要素を全て削除する
    while (tr.lastChild) {
      tr.removeChild(tr.lastChild);
      
      
      }
      }
      
      /* 購入ボタンがクリックされた時のイベントリスナーから呼び出される purchase 関数を作成 */
      /* purchase関数「購入」ボタンのclickイベントにより呼び出される */

     function purchase(event) {

  /* JavaにPOST送信するオブジェクトを取得・設定する ※ cartList はグローバル変数 */
  const postObj = {
    "userId": document.getElementById("hiddenUserId").value,
    "cartList": cartList
  };
  
  fetch("/ecsite/api/purchase", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify(postObj),
  })
  .then(response =>  response.text())
  .then(result => {
    alert(`${result}種類の商品を購入しました。`);
    const countElements = document.querySelectorAll(".count");
    countElements.forEach( element => {
      element.value = 0;
    });
      
    
// カート表の tbody 内の要素をクリアする
    initCart();
    // グローバル変数 cartList をクリアする
    cartList = [];
  })
  .catch(error => {
    console.error("Error: ", error);
  });
}
  /*履歴ボタンがクリックされた時のイベントリスナーから呼び出される showHistory 関数を作成 */
  //showHistory関数　｛履歴｝ボタンのclickイベントにより呼び出される
function showHistory(event) {

  // JavaにPOST送信するオブジェクトを取得・設定する
  const postObj = { "userId": document.getElementById("hiddenUserId").value };

  fetch("/ecsite/api/history", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify(postObj),
  })
  
    .then(response =>  response.text())
  .then(result => {
    const historyList = JSON.parse(result);

    // id:historyのテーブルからtbodyを取得する
    const tbody = document.querySelector("#history tbody");

    // 履歴表をすべてクリアする
    while(tbody.lastChild){
      tbody.removeChild(tbody.lastChild);
    }

    historyList.forEach((history, index) => {
      // 行(tr)作成
      const tr = document.createElement("tr");
      
      // 履歴情報の中から、表に出力するキーを限定するため配列化しておく
      const keys = ["goodsName", "itemCount", "createdAt"];

      // for of ループで keys を回し、表のtdを作成、trに追加する
      for (key of keys) {
        const td = document.createElement("td");
        td.innerText = history[key];
        tr.appendChild(td);
      }
      tbody.appendChild(tr);
    });
  })
  .catch(error => {
    console.error("Error: ", error);
  });

}


 
</script>
</head>
<body>
  
  <!-- headerタグを作成し、内側にログイン用のフォーム作成する -->
  <header>
    <h1>ECサイト</h1>
    <div>
      <form name="loginForm" id="loginForm" method="post" action="#">
        ユーザー名:<input type="text" name="userName"/>
        パスワード:<input type="password" name="password" />
        <button type="submit">ログイン</button>
      </form>
      
      <span id="welcome">ようこそ！ゲストさん</span>
      <input type="hidden" id="hiddenUserId" value="0" />
    </div>
  </header>
  
  <!--  headerの下に、商品一覧を表示するためのtableを作成 -->
  <table id="goodsListTable">
    <thead>
      <tr>
        <th>ID</th><th>商品名</th><th>価格</th><th>注文数</th><th>カート</th>
      </tr>
    </thead>
    
    <!-- この部分は、Thymeleafのth:each構文を使用した
ループ処理。
 ControllerでModelオブジェクトに追加された
 キーで取得した値（今回はListコレクション）を
 ループさせる。-->
    <tbody>
      <tr th:each="item: ${goods}">
        <td th:text="${item.id}"/>
        <td th:text="${item.goodsName}"/>
        <td th:text="${item.price}"/>
        <td><input type="number" class="count" value="0"/></td>
        <td><button class="cartBtn">カートに入れる</button></td>
      </tr>
    </tbody>
  </table> 
  
  <!-- カートを表示するためのtableを作成してください。
※ テーブルを囲む枠線を表示させるためfieldsetタグを使用。-->
  <fieldset>
    <legend>カート</legend>
    <table id="cart">
      <thead>
        <tr>
          <th>ID</th><th>商品名</th><th>価格</th><th>注文数</th><th>カート</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <button id="purchaseBtn">購入</button>
  </fieldset>
  
  <!-- 購入履歴を表示するためのtableを作成 -->
  <fieldset>
    <legend>購入履歴</legend>
    <table id="history">
      <thead>
        <tr>
          <th>商品名</th><th>注文数</th><th>購入日時</th>
        </tr>
      </thead>
      <tbody>
        
        
      </tbody>
    </table>
    <button id="historyBtn">履歴を表示</button>
  </fieldset>
 
  </body>
</html>